In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [5]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [6]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [7]:
ranger = range(15)
ranger

range(0, 15)

In [8]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [9]:
dframe = DataFrame(randn(25).reshape((5,5)),
                   index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -1.354126 -0.158479 -0.428405  0.042122 -1.252836
B -2.723779 -0.250155  0.430556 -1.578874  1.614832
D -0.741909  0.080542 -0.592151 -0.521271  0.689645
E -1.817079 -0.206059  0.649836  0.382844 -0.596785
F  0.104947 -1.072198  0.626319  1.152831  2.082638

In [10]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -1.354126 -0.158479 -0.428405  0.042122 -1.252836
B -2.723779 -0.250155  0.430556 -1.578874  1.614832
C       NaN       NaN       NaN       NaN       NaN
D -0.741909  0.080542 -0.592151 -0.521271  0.689645
E -1.817079 -0.206059  0.649836  0.382844 -0.596785
F  0.104947 -1.072198  0.626319  1.152831  2.082638

In [11]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [12]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.354126 -0.158479 -0.428405  0.042122 -1.252836   NaN
B -2.723779 -0.250155  0.430556 -1.578874  1.614832   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.741909  0.080542 -0.592151 -0.521271  0.689645   NaN
E -1.817079 -0.206059  0.649836  0.382844 -0.596785   NaN
F  0.104947 -1.072198  0.626319  1.152831  2.082638   NaN

In [13]:
dframe

       col1      col2      col3      col4      col5
A -1.354126 -0.158479 -0.428405  0.042122 -1.252836
B -2.723779 -0.250155  0.430556 -1.578874  1.614832
D -0.741909  0.080542 -0.592151 -0.521271  0.689645
E -1.817079 -0.206059  0.649836  0.382844 -0.596785
F  0.104947 -1.072198  0.626319  1.152831  2.082638

In [ ]:
#ixで簡易的なreindexは可能だったが現在非推奨。locをreindexの代わりに使うのは不可能。
dframe.loc[["A","B","C","D","E","F"],new_columns]

KeyError: "['C'] not in index"